@import '../../utils/reset.scss';
@import '../../styles/mixin.scss';

.main__email {
  background-color: #1F002B;
  padding-bottom: 20px;

}

.preferences__email {
  margin-bottom: 56px;
}

.question__email {
  font-family: "Albert Sans", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #F2F3F5;
  margin-bottom: 12px;
}

.choose__email {
  font-family: "Albert Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #C4C8CC;
}

.form {
  margin: auto;
  margin-bottom: 56px;
  max-width: 335px;
}

.email {
  position: relative;
  display: block;
  width: 335px;
  height: 76px;
  border-radius: 16px;
  border: 2px solid #36173D;
  background-color: #36173D;
  margin: auto;
  padding: 26px 20px;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  transition: border-color 0.3s ease-in-out;

  &::placeholder {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #C4C8CC80;
  }

  &:focus {
    outline: none;
  }
}

.wrong__email {
  border-color: #FF0000;
}

.error {
  font-family: "Albert Sans", sans-serif;
  color: #FF0000;
  margin-top: 15px;
  margin-left: 40px;
  visibility: hidden;
  position: absolute;
}

.visible__error {
  visibility: visible;
}

.policy {
  font-family: "Albert Sans", sans-serif;
  margin: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #B6B8C3;
  margin-bottom: 195px;
  max-width: 280px;
}

.policy__link {
  color: #EB2F9A;
  text-decoration: none;
}

.next-thank {
  font-family: "Albert Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 335px;
  height: 56px;
  border-radius: 1000px;
  opacity: 40%;
  background-color: #E4229C;
  color: #fff;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  margin: auto;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.able-thank {
  opacity: 1;
}